<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwipableTableViewCell.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7D07B5161E48469000ECC37F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D07B52A1E48469100ECC37F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D07B5351E48469100ECC37F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
